.DS_Store
node_modules/
/dist/
!build/icons
build/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
server/client/electron-vue-admin Setup 0.0.1.exe
/build/builder-effective-config.yaml
