// 订单内容页
.order-container {
    padding: 0 212px 20px 50px;
}

// 正文顶部的分割线及分割线上面的内容
.top-nav {
    display: flex;
    height: 80px;
    align-items: center;
}

.line {
    background-color: #eeeeee;
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 10px;
}


.line-pop {
    background-color: #eeeeee;
    width: 100%;
    height: 1px;
}
.popo-order{
    padding-bottom: 8px;
    cursor: pointer;
}
.popo-work{
    padding-top: 8px;
    cursor: pointer;
}



.tip-line {
    background-color: #eeeeee;
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}

//  卡片上面的图标和标题样式
.info-set {
    display: flex;
    margin-bottom: 16px;
    line-height: 22px;

    .info-icon {
        width: 8px;
        height: 22px;
        background: rgba(58, 127, 159, 1);
        border-radius: 4px;
        margin-right: 12px;
    }

    .info-title {
        font-size: 16px;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
    }
}

// 顶部的单选样式
.top-order {
    flex: 1;

    .order-group {
        height: 38px;
        display: flex;
        align-items: center;
        background-color: #3a7f9f;
        width: 346px;
        justify-content: center;
        border-radius: 2px;
    }

    .order-group /deep/ .el-radio-group /deep/ .el-radio__input.is-checked .el-radio__inner {
        border-color: #f2b931;
        background: #f2b931;
    }

    .order-group /deep/ .el-radio-group /deep/ .el-radio__input.is-checked+.el-radio__label {
        color: #f2b931;
    }

    .order-group /deep/ .el-radio__inner {
        border: 1px solid #dcdfe6;
        border-radius: 100%;
        width: 14px;
        height: 14px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
        background-color: #3a7f9f;
    }

    .order-group /deep/ .el-radio {
        color: #fff;
    }
}

// 活动页顶部按钮
.top-active /deep/ .el-button {
    background-color: #3a7f9f;
    color: #fff;
    height: 38px;
}

.top-active /deep/ .el-button:active {
    background-color: #2c637c;
}

// 表格添加阴影
.table-control {
    box-shadow: none;
}

// 表格选中颜色样式
.table-control /deep/ .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #3a7f9f;
}

.table-control /deep/ .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #3a7f9f;
}

// 底部修改，保存，取消按钮的样式修改
.bottom-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bottom-button /deep/ .el-button--primary {
    background-color: #3a7f9f;
    border-color: #3a7f9f;
    height: 38px;
}

.bottom-button /deep/ .el-button--primary:active {
    background-color: #255368;
    border-color: #255368;
}

.bottom-button /deep/ .el-button--default {
    height: 38px;
    color: #3a7f9f;
}

.bottom-button /deep/ .el-button--default:hover {
    background-color: rgba(58, 127, 159, 0.2);
}

.bottom-button /deep/ .el-button--default:active {
    background-color: rgba(43, 94, 117, 0.3);
}
