// :root[theme='dark'] {
//   --background-color: #181818;
//   --text-color: #c1c1c1;
//   --primary-color: #409eff;
// }

:root {
  --background-color: #f2f3f5;
  --text-color: #ffffff;
  --primary-color: #409eff;
  --main-view-bg-color: #f9f9fc;
}
